body {
  font-family: "Open Sans", sans-serif;
}

.titleBox{
  background-color: #3E9DC1;
}

.inputContainer {
  background-color: #73CADE;
  padding: 10px;
}

.inputAnalysis {
  background-color: #FFEEDF;
  padding: 10px;
}

.keyConcepts {
  background-color: #A9C0DF;
  padding: 10px;
}

.conceptSentiment {
  background-color: #C5CDDF;
  padding: 10px;
}

.relaventRead {
  background-color: #61A3CF;
  padding: 10px;
}
